@model POS.Common.DTO.Inventory.Categories.CategoryUpdateDto

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="CategoryEdit" asp-action="CategoryEdit" method="post">
                <h2>Edit a Category</h2>
                <hr />

                <input type="hidden" asp-for="Id" class="form-control" />

                <div class="mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <button id="CategorySubmit" type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
                </div>
            </form>
        </section>
    </div>
</div>