@model POS.Common.DTO.Inventory.SubCategories.SubCategoryUpdateDto

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="SubCategoryEdit" asp-action="SubCategoryEdit" method="post">
                <h2>Edit a Sub-Category</h2>
                <hr />

                <input type="hidden" asp-for="Id" class="form-control" />

                <div class="mb-3">
                    <label asp-for="CategoryId" class="control-label">Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <button id="SubCategorySubmit" type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
                </div>
            </form>
        </section>
    </div>
</div>