<ul class="nav flex-column mt-auto mb-2">
    <li class="nav-item">
        <a class="nav-link text-white" data-bs-toggle="collapse" href="#accountSubmenu" role="button" aria-expanded="false" aria-controls="accountSubmenu">Account</a>
    
        <div class="collapse" id="accountSubmenu">
            <ul class="nav flex-column ms-3">
                <li class="nav-item">
                    @* <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a> *@
                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>

        </div>
    </li>
</ul>