<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white" data-bs-toggle="collapse" href="#posSubmenu" role="button" aria-expanded="false" aria-controls="posSubmenu">
            POS
        </a>
        <div class="collapse" id="posSubmenu">
            <ul class="nav flex-column ms-3">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Pos" asp-action="Sales">Sales</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
