<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link text-white" data-bs-toggle="collapse" href="#reportSubmenu" role="button" aria-expanded="false" aria-controls="reportSubmenu">
            Report
        </a>
        <div class="collapse" id="reportSubmenu">
            <ul class="nav flex-column ms-3">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Report" asp-action="Sales">Sales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Report" asp-action="Revenue">Revenue</a>
                </li>
            </ul>
        </div>
    </li>
</ul>
