@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Inventory Management System</h1>
    <p>By <a href="https://github.com/Ashishgithub7">Ashish Bhandari</a></p>
</div>
